@import './Colors.scss';

body {
  margin: 0;
  background-color: $blue_baby_dark;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


@media only screen and (max-width: 61.25em) {
  html {
    font-size: 28px;
  }
}