body {
  margin: 0;
}

:global .viewport-height {
  height: 100vmax;
}

:global .margin-top-none {
  margin-top: 0;
}

:global .margin-bottom-none {
  margin-bottom: 0;
}

:global .margin-none {
  margin: 0;
}

:global html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}